#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #130606;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: white;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App{
  display: flex;
}

.AppInfo{
  flex-basis : 50%;
  background: linear-gradient(#333033, #130606);
  height: 100vh;
  color:white;
  margin:auto;
}

.Info{
  margin: auto;
  margin-top: 50vh;
  width: 40vmin;
  font-size: 35px;
}

.Sign{
  flex-basis : 50%;
}

.signup{
  display: block;
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  width: 50vmin;
  margin: auto;
  margin-top:10vmax;
  background-color: #333033;
  color:white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.login{
  display: block;
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  width: 50vmin;
  margin: auto;
  margin-top:10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.signup:hover{
  background-color: white;
  color: #3330336b;
}

.login:hover{
  background-color: #3330336b;
  color:white;
}



.modalStyle{
  width: 70vmin;
  height: fit-content;
  margin: auto;
  background-color: white;
  border: 1px solid #3330336b;
  border-radius: 20px;
  margin-top: 5vmax;
  outline:none;
}

.formStyle{
  padding: 20px 60px;
}

.formStyle > label{
  display: block;
  margin-top: 10px;
  color:#333033;
  font-style: italic;
}

.formStyle > input{
  display: block;
  margin-top: 10px;
  background-color:#1b1a1b0a;
  width: 55vmin;
  height: 5vmin;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}

.smallbtn{
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 12vmin;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
  background-color: #333033;
  color:white;
  outline: none;
}

.header{
  height:7vmin;
  display: flex;
  border: 1px solid  rgb(31 22 24 / 7%);
  padding:20px;
}
.headerContent{
  flex-basis: 85%;
  padding:15px;
  font-size: 30px;
  font-weight:bolder;
}
.header > img{
  flex-basis: 15%;
}
.dashboard{
  display: flex;
  
}

.sidebar{
  flex-basis: 15%;
  background-color: rgb(31 22 24 / 7%);
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.mainArea{
  flex-basis: 70%;
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mainArea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mainArea {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.rightSidebar{
  flex-basis: 15%;
  background-color: rgb(31 22 24 / 3%);
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.sidebarOptions
{
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  width: fit-content;
  margin: auto;
  margin-top:16px;
  background-color: #333033;
  color:white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.textArea{
  font-size: 16px;
  display: inline-block;
  width: -webkit-fill-available;
  border: 2px solid  rgb(31 22 24 / 7%);
  padding:20px;
  font-size: 25px;
}

.tweet{
  display: block;
  width: 65vmax;
  margin: auto;
  border:1px solid rgb(31 22 24 / 27%);
  height: fit-content;
  padding: 20px;
  margin-top:30px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.aboveTweet{
  display: flex;
  background-color: rgba(250, 250, 250, 0.863);
  border-radius: 15px;
  padding: 10px;
}
.user{
  flex:1;
  font-size: 20px;
  font-weight: bold;
  color:#333033;
}

.user>img{
  vertical-align: text-bottom;
  padding: 1px 10px;
}

.tweetContent{
  padding: 20px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.likes{
  font-size: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(206, 209, 201, 0.644);
  padding: 10px;
}

.likes > img{
  vertical-align: middle;
  padding: 0px 10px;
}
.tweetTime{
  font-weight: bold;
}

.searchTweet{
  display: block;
  margin: auto;
  margin-top:50px;
  font-size: 20px;
  width: 200px;
  border:2px solid;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.smallbtn2{
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 14vmin;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
  background-color: #333033;
  color:white;
  outline: none;
  font-size: 17px;
}

.message{
  display: block;
  margin: auto;
  margin-top:50px;
  font-size: 20px;
  width: 200px;
  border:2px solid;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.deletebtn{
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 14vmin;
  margin: auto;
  cursor: pointer;
  background-color: #333033;
  color:white;
  outline: none;
  font-size: 17px;
  text-align: center;
  float:right;
}