#loader {
  position: relative;
  left: 50%;
  top: 20vh;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: -75px 0 0 -75px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #193e34;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  background-color: white;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:768px)
{
  .dashboard{
    display: block !important;
  }
  .sidebar{
    height: fit-content !important;
    display: flex !important;
  }
  .mobileSec{
    display: flex;
  }
  .tweetboxform{
    width: 80vmin !important;
  }
  .mainArea{
    overflow-x: hidden !important;
  }

  .headerContent,.user,.tweetContent,.editbtn,.mainArea,.likes,.sidebarOptions, span,.profileEmail,.profileName,.profileUsername,.bio,.follow{
    font-size: 13px !important;
  }
  .deletebtn,.smallbtn,.smallbtn2,.sidebarOptions,.sidebarOptions,.rightSidebar,.login,.signup{
    font-size: 12px !important;
  }

  

  .profilePicProfile{
    height: 100px !important;
    width: 100px !important;
  }

  .editbtn{
    margin-top: 50px !important;
  }

  .sidebarOptions,.sidebar,.login,.signup{
    padding: 4px !important;
  }
}





.App{
  display: flex;
}

.AppInfo{
  flex-basis : 50%;
  background: linear-gradient(#193e34, #130606);
  height: 100vh;
  color:white;
  margin:auto;
}

.Info{
  margin: auto;
  margin-top: 50vh;
  width: 40vmin;
  font-size: 35px;
}

.Sign{
  flex-basis : 50%;
}

.signup{
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 15vmin;
  background-color: #193e34;
  color: white;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.login {
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 15vmin;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

.signup:hover{
  background-color: white;
  color: #193e346b;
}

.login:hover{
  background-color: #193e346b;
  color:white;
}



.modalStyle{
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: white;
  border: 1px solid #193e346b;
  border-radius: 20px;
  margin-top: 5vmax;
  outline:none;
}

.formStyle{
  padding: 20px 60px;
}

.formStyle > label{
  display: block;
  margin-top: 10px;
  color:#193e34;
  font-style: italic;
}

.formStyle > input{
  display: block;
  margin-top: 10px;
  background-color:#1b1a1b0a;
  width: 55vmin;
  height: 5vmin;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}

.smallbtn{
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 12vmin;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
  background-color: #193e34;
  color:white;
  outline: none;
}

.header{
  height:7vmin;
  display: flex;
  border: 1px solid  #a7b4b0;
  padding:20px;
}
.headerContent{
  flex-basis: 85%;
  padding:10px;
  font-size: 30px;
  font-weight:500;
  color:#a7b4b0;
}
.header > img{
  flex-basis: 15%;
}
.dashboard{
  display: flex;
  
}

.sidebar{
  flex-basis: 20%;
  background-color: #a7b4b0;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  padding:10px;
}
.mainArea{
  flex-basis: 60%;
  height: 100vh;
  overflow-y: auto;
  overflow-x:hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mainArea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mainArea {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.rightSidebar{
  flex-basis: 20%;
  background-color: #a7b4b0;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  padding:10px;
}
.sidebarOptions
{
  padding: 15px;
  border: 1px solid;
  border-radius: 25px;
  width: max-content;
  margin: auto;
  margin-top:16px;
  background-color: #193e34;
  color:white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.sidebarOptions:hover{
  color:#193e34;
  background-color: white;
}

.textArea{
  font-size: 16px;
  display: inline-block;
  width: -webkit-fill-available;
  border: 2px solid  #a7b4b0;
  padding:20px;
  font-size: 25px;
  border:none;
  outline:none;
  resize:none;
}

.tweet{
  display: block;
  width: auto;
  margin: auto;
  height: fit-content;
  margin-top:30px;
  margin-bottom: 40px;
}

.aboveTweet{
  display: flex;
  background-color: rgba(250, 250, 250, 0.863);
  padding: 10px;
  border-top: 1px solid #a6b4b04f;
}
.user{
  flex:1;
  font-size: 20px;
  font-weight: bold;
  color:#193e34;
}

.user>img{
  vertical-align: text-bottom;
  padding: 1px 10px;
}

.tweetContent{
  padding: 20px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.likes{
  font-size: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(206, 209, 201, 0.644);
  padding: 10px;
  color: #1a3e33;
}

.likes > img{
  vertical-align: middle;
  padding: 0px 10px;
}
.tweetTime{
  font-weight: 500;
}

.searchTweet{
  display: block;
  margin: auto;
  margin-top:50px;
  font-size: 14px;
  width: -webkit-fill-available;
  border:2px solid;
  padding: 5px;
  border-radius: 20px;
  outline: none;
}

.smallbtn2{
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 14vmin;
  margin: auto;
  margin-top: 23px;
  cursor: pointer;
  background-color: #193e34;
  color: white;
  outline: none;
  font-size: 15px;
  float: left;
}

.smallbtn2:hover{
  color:#193e34;
  background-color: #a7b4b0;
}

.message{
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  font-size: 13px;
  width: 140px;
  border: 2px solid;
  padding: 3px;
  border-radius: 20px;
  outline: none;
}

.deletebtn{
  padding: 5px;
  border: 1px solid;
  border-radius: 25px;
  width: 8vmin;
  margin: auto;
  cursor: pointer;
  background-color: #193e34;
  color: white;
  outline: none;
  font-size: 14px;
  text-align: center;
  float: right;
}

.deletebtn:hover{
  background-color: #a6b4b0;
  color:#000;
}

.tweetbox{
  border-bottom: 23px solid #021b1412;
  padding: 20px;
  display: flex;
}

.profilePic{
  border-radius: 50%;
  height:60px;
  width:60px;
  display:inline;
  margin:20px;
}

.imageUpload{
  display: none;
}
.uploadImage{
  margin-top: 25px;
  display: inline-block;
}

.uploadImageProfile{
  display: block;
  margin: auto;
  position: relative;
  z-index: 9;
  width: fit-content;
  margin-top: -252px;
  padding: 110px;
  background: aliceblue;
  border-radius: 50%;
  opacity: 0.5;
}

.profilePicProfile{
  border-radius: 50%;
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.profileName{
  margin: 20px auto;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  color: #a6b4b0;
}

.profileUsername{
  margin: 10px auto;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  font-style: oblique;
  color: #1a3e33;
}

.profileEmail{
  margin: 20px auto;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  color: #a6b4b0;
}

.bio{
  margin: 30px auto;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  color: #a6b4b0;
  padding:15px;
}

.bioInput{
  margin: 30px auto;
  width: 50%;
  font-size: 18px;
  font-weight: 600;
  color: #a6b4b0;
  padding: 15px;
  display: block;
  border: 1px solid;
  border-radius: 36px;
  outline: none;
}

.follow{
  margin:auto;
  font-size: 16px;
  font-weight: 500;
  color: #a6b4b0;
  display: flex;
}

.follow div{
  margin:auto;
  font-size: 20px;
  font-weight: 500;
  color: #1a3e33;
  width: fit-content;
  flex-basis:20%;
}

.follow div span{
  color: #a6b4b0;
  padding-right:5px;
  vertical-align: baseline;
}

.editbtn{
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 25px;
  width: 14vmin;
  margin: auto;
  margin-top: 120px;
  cursor: pointer;
  background-color: #193e34;
  color: white;
  outline: none;
  font-size: 15px;
  text-align: center;
}

.editbtn:hover{
  color:#193e34;
  background-color: #a7b4b0;
}

.tweetPostImage{
  height: 400px;
    width: 100%;
    display: block;
    margin: auto;
}

.mainTweet{
  padding: 5px;
}

.editTweetcontent{
  display: block;
    font-size: 25px;
    margin-top: 30px;
    padding : 20px;
    margin-bottom: 50px;
    border: none;
    outline: none;
    width: 100%;
}

.tweetboxform{
  display: block;
  
}
